.accordian {
  border: 1px solid black;
}
.accordian-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: rgba(65, 129, 182, 0.5);
  padding: 5px;
}
.accordian-pane {
  background-color: rgb(156, 211, 228);
  padding: 5px;
}
