.accordian {
}
.accordian-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  background-color: rgba(65, 129, 182, 0.2);
  padding: 5px;
}
.accordian-pane {
  border: 1px solid black;
  background-color: rgba(156, 211, 228, 0.5);
  padding: 5px;
  margin: -1px 0px -1px 0px;
}
